<div class="header bg-gradient-purple py-7 py-lg-8">
  <!-- <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome to registration!</h1>
        </div>
      </div>
    </div>
  </div> -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<div class="header container mt--8 pb-5 w-100">
  <!-- Table -->
  <div class="container-fluid">
    <div class="header-body">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0 text-uppercase">Your Poll's <span class="badge badge-pill badge-info">{{totalPolls}}</span></h3>
            </div>
            <div class="col text-right">
              <a [routerLink]="['/poll/new']" class="btn btn-md btn-primary text-uppercase">Create Poll</a>
            </div>
          </div>
        </div>
        <div class="table-responsive" *ngIf="totalPolls > 0">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Votes</th>
                <th scope="col">Created On</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eachPoll of userPolls">
                <td>
                  {{eachPoll.pollGuid}}
                </td>
                <td>
                  {{eachPoll.pollName}}
                </td>
                <td>
                  {{eachPoll.votes}}
                </td>
                <td>
                  {{eachPoll.date | date:'mediumDate'}}
                </td>
                <td>
                  {{eachPoll.status}}
                </td>
                <td>
                  <a class="icon-sm icon-shape icon-shape-info cursor-pointer rounded-circle" ngbTooltip="View Results" [routerLink]="['/poll/results/'+ eachPoll.pollGuid]" target="_blank"><i class="fa fa-pie-chart"></i></a>
                  <a class="icon-sm icon-shape icon-shape-primary cursor-pointer rounded-circle" ngbTooltip="Edit Poll" [routerLink]="['/poll/edit/'+ eachPoll.pollId]"><i class="fa fa-pencil"></i></a>
                  <a class="icon-sm icon-shape icon-shape-warning cursor-pointer rounded-circle ui-state-hover" ngbTooltip="Delete Poll" data-toggle="modal" data-target="#pollDeleteModal" (click)="askDeleteConfirmation(eachPoll.pollId,eachPoll.pollGuid,eachPoll.pollName);"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="pt-5 page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item" [ngClass]="{'disabled': currentPage ==0}">
                <a class="page-link" (click)="currentPage=currentPage-1;getCurrentPagePolls(currentPage)"  tabindex="-1">
                  <i class="fa fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let eachPageNumber of counter(totalPages);let i=index" [ngClass]="{'active': currentPage == i}"><a class="page-link" (click)="getCurrentPagePolls(i)">{{i+1}}</a></li>
              <li class="page-item"  [ngClass]="{'disabled': currentPage == totalPages-1}">
                <a class="page-link" (click)="currentPage=currentPage+1;getCurrentPagePolls(currentPage)">
                  <i class="fa fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pollDeleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">CONFIRMATION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-sm-3">ID</dt>
          <dd class="col-sm-9">{{ currentPoll.pollGuid}}</dd>
          <dt class="col-sm-3">Question</dt>
          <dd class="col-sm-9">{{ currentPoll.name}}</dd>
        </dl>
      </div>
      <div class="modal-footer pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="deletePoll(currentPoll.pollId);"  data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
