<div class="header bg-gradient-purple pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">NEW POLL</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary d-none">Settings</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="fg" (ngSubmit)="onSubmit()">
                <h6 class="heading-small text-muted mb-4">YOUR ASK</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-question">Question</label>
                        <input type="text" id="input-question" required class="form-control form-control-alternative"
                          placeholder="Ex: How is our website?" formControlName="question">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <label class="form-control-label">Options</label>
                      <div class="form-group" formArrayName="options">
                        <div class="input-group input-group-alternative mb-4"
                          *ngFor="let eachOption of optionsArray.controls;let eachIndex = index">
                          <input class="form-control" placeholder="Enter option here" type="text"
                            [formControlName]="eachIndex">
                          <div class="input-group-append">
                            <span class="input-group-text" (click)="removeItem(eachIndex)"><i
                                class="fa fa-trash-o"></i></span>
                          </div>
                        </div>
                        <div>
                          <button type="button" class="btn btn-outline-primary" (click)="addNewOption()">Add New</button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Extra features -->
                <h6 class="heading-small text-muted mb-4">Extra Features</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="form-control-label" for="input-city">End Date</label>
                      <div class="form-group">
                        <div class="input-group datepicker-div input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="form-control datepicker bg-white" placeholder="Select date" name="dp"
                            formControlName="endDate"  placeholder="yyyy-mm-dd" readonly [minDate]="minDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
                            type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <label class="form-control-label">Control</label>
                      <div class="custom-control custom-radio mb-3">
                        <input id="radiobutton" name="controlType" class="custom-control-input" name="optionType"
                          formControlName="optionType" value="0" type="radio">
                        <label for="radiobutton" class="custom-control-label">Radio Button</label>
                      </div>
                      <div class="custom-control custom-radio mb-3">
                        <input id="checkbox" name="controlType" class="custom-control-input" name="optionType"
                          formControlName="optionType" value="1" type="radio">
                        <label for="checkbox" class="custom-control-label">Checkbox</label>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <label class="form-control-label" for="input-city">Duplicate</label>
                      <div class="custom-control custom-radio mb-3">
                        <input id="allow" name="duplicate" class="custom-control-input" name="duplicateCheck"
                          formControlName="duplicateCheck" value="1" type="radio">
                        <label for="allow" class="custom-control-label">Allow</label>
                      </div>
                      <div class="custom-control custom-radio mb-3">
                        <input id="deny" name="duplicate" class="custom-control-input" name="duplicateCheck"
                          formControlName="duplicateCheck" value="0" type="radio">
                        <label for="deny" class="custom-control-label">Deny</label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <button type="submit" class="btn btn-primary btn" [disabled]="formSubmitted || this.fg.invalid">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
