<div class="header bg-gradient-darker pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>

  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<div class="container mt--150" *ngIf="loaded && !finalPage">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
      <div class="card shadow-lg border-0">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <div class="h2"><span class="text-muted">#{{currentQuestionData.questionDisplayOrder+1}}.</span>
                <span *ngIf="currentQuestionData.isrequired" style="color: red;" class="pr-1">*</span>
                {{currentQuestionData.title}}</div>
              <div class="h3">{{currentQuestionData.subtitle}}</div>
            </div>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-3">
          <!-- Essay type question -->
          <div class="row" *ngIf="questionType == 'essay'">
            <div class="col-lg-12">
              <div class="form-group">
                <textarea type="text" id="input-question" [(ngModel)]="essayAnswer"
                  [attr.required]="currentQuestionData.isrequired" class="form-control form-control-alternative"
                  placeholder="Your answer goes here" [attr.minlength]="currentQuestionData.options['min']"
                  [attr.maxlength]="currentQuestionData.options['max']">
                  </textarea>
              </div>
            </div>
          </div>
          <!-- radiobuttons type question -->
          <div class="row" *ngIf="questionType == 'radiobuttons'">
            <div class="col-lg-12">
              <label class="form-control-label">Select one option</label>
              <div class="custom-control custom-radio mb-3"
                *ngFor="let item of currentQuestionData.objectOptions;let i=index">
                <input [id]="'optionbutton'+i" class="custom-control-input" [value]="item.surveyQuestionOptionId"
                  type="radio" [(ngModel)]="singleOption">
                <label [for]="'optionbutton'+i" class="custom-control-label">{{item.optionValue}}</label>
              </div>
            </div>
          </div>
          <!-- multiple type question -->
          <div class="row" *ngIf="questionType == 'multiple'">
            <div class="col-lg-12">
              <label class="form-control-label">Select one option</label>
              <div class="custom-control custom-checkbox mb-3"
                *ngFor="let item of currentQuestionData.objectOptions;let i=index">
                <input [id]="'optionbutton'+i" class="custom-control-input" [value]="item.surveyQuestionOptionId"
                  type="checkbox" [(ngModel)]="currentQuestionData.objectOptions[i].isChecked">
                <label [for]="'optionbutton'+i" class="custom-control-label">{{item.optionValue}}</label>
              </div>
            </div>
          </div>
          <!-- Image radio buttons -->
          <div class="row" *ngIf="questionType == 'imageradiobuttons'">
            <div class="col-lg-12">
              <label class="form-control-label">Select one image</label>
              <div class="row">
                <div class="custom-control custom-radio mb-3"
                  *ngFor="let item of currentQuestionData.objectOptions;let i=index">
                  <div class="col-lg-6 radioimage">
                    <input [id]="'optionbutton'+i" class="custom-control-input" [value]="item.surveyQuestionOptionId"
                      type="radio" [(ngModel)]="singleOption">
                    <label [for]="'optionbutton'+i">
                      <img src="{{item.optionValue}}" alt="{{item.optionValue}}" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Image multiple-->
          <div class="row" *ngIf="questionType == 'imagemultiple'">
            <div class="col-lg-12">
              <label class="form-control-label">Select one option</label>
              <div class="row">
                <div class="custom-control custom-checkbox mb-3"
                  *ngFor="let item of currentQuestionData.objectOptions;let i=index">
                  <div class="col-lg-6 radioimage">
                    <input [id]="'optionbutton'+i" class="custom-control-input" [value]="item.surveyQuestionOptionId"
                      type="checkbox" [(ngModel)]="currentQuestionData.objectOptions[i].isChecked">
                    <label [for]="'optionbutton'+i" class="custom-control-label">
                      <img src="{{item.optionValue}}" alt="{{item.optionValue}}" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Slider-->
          <div class="row" *ngIf="questionType == 'slider'">
            <div class="col-lg-12">
              <nouislider [connect]="[true,false]" [config]="sliderconfig" class="slider-padding"
                [min]="convertInt(currentQuestionData.options['min'])"
                [max]="convertInt(currentQuestionData.options['max'])" [step]="1" [(ngModel)]="singleOption"
                [tooltips]="[true]" (ngModelChange)="onChange($event)"></nouislider>
            </div>
          </div>
          <div class="row" *ngIf="questionType == 'rangeslider'">
            <div class="col-lg-12">
              <nouislider [connect]="true" [min]="convertInt(currentQuestionData.options['min'])"
                [max]="convertInt(currentQuestionData.options['max'])" [step]="1" [(ngModel)]="someRange"
                [tooltips]="[ true, true ]" (ngModelChange)="onChange($event)"></nouislider>
            </div>
          </div>
          <!-- Star rating-->
          <div class="row" *ngIf="questionType == 'starrating'">
            <div class="col-lg-12">
              Click on star's to rate.
            </div>
            <div class="col-lg-12">
              <app-star-rating [rating]="singleOption" [starCount]="5" [color]="'red'"
                (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
            </div>
          </div>

          <!-- Multiple Star rating-->
          <div class="row" *ngIf="questionType == 'multiplerating'">
            <div class="col-lg-12 pb-2">
              Click on star's to rate.
            </div>
            <div class="col-lg-12">
              <div class="row p-4" *ngFor="let item of currentQuestionData.objectOptions;let i=index">
                <div class="col-sm-3">{{item.optionValue}}</div>
                <div class="col-sm-9">
                  <app-star-rating [rating]="item.selectedRating" [starCount]="5" [color]="'red'"
                    (ratingUpdated)="onRatingChangedForEach(i,$event)"></app-star-rating>
                </div>
              </div>
            </div>
          </div>

          <!-- Multiple Star rating-->
          <div class="row" *ngIf="questionType == 'customrating'">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Project</th>
                      <th scope="col" *ngFor="let item of getXValueOptions;let i=index">
                        {{item.optionValue}}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of getValueOptions;let i=index" >
                      <th scope="row">{{item.optionValue}}</th>
                      <td  *ngFor="let item2 of getXValueOptions;let j=index">
                        <div class="custom-control custom-radio mb-3">
                        <input [id]="'optionbutton'+i.toString()+'_'+j.toString()" class="custom-control-input" [value]="item2.surveyQuestionOptionId"
                          type="radio" [name]="item.optionKey" [(ngModel)]="item.selectedRating">
                          <label [for]="'optionbutton'+i.toString()+'_'+j.toString()" class="custom-control-label"></label>
                      </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Navigation buttons-->
          <div class="row mb--2 mt-5">
            <div class="col-1">
              <button type="button" class="btn btn-outline-primary" (click)="previousQuestion();"
                [disabled]="currentQuestionNumber <= 0 || !surveyData.enableprevious">Previous</button>
            </div>
            <div class="col-10"></div>
            <div class="col-1">
              <button type="button" class="btn btn-outline-primary" (click)="nextQuestion();"
                *ngIf="currentQuestionNumber != totalQuestions-1" align="end">Next</button>
              <button type="button" class="btn btn-primary" *ngIf="currentQuestionNumber == (totalQuestions - 1)"
                (click)="onSubmit();">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
