mat-form-field{
  width: 100%;
}

.invalidPanel{
  border:1px solid orange;
  border-radius: 5px;
  //color:red;
}

.validPanel{
  border:1px solid greenyellow;
  border-radius: 5px;
}


.input-group-text{
  cursor: pointer;
}
