<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6 col-md-6 pt-3">
              <div class="card" style="width:100%;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-auto">
                      <div class="icon icon icon-xl rounded-circle shadow">
                        <img class="card-img-top"
                          src="https://avatars0.githubusercontent.com/u/18742947?s=460&u=e51dbaefd237df2aef45d1e4084ce759b5f777ad&v=4"
                          alt="Photo of Balla Vamsi Srinivas">
                      </div>
                    </div>
                    <div class="col text-muted">
                      <h5 class="card-title text-uppercase">BALLA VAMSI SRINIVAS</h5>
                      <b class="d-block">Full Stack Developer</b>
                      <span class="d-block badge badge-pill badge-primary" (click)="onClickCopy('ballavamsisrinivas@gmail.com')">ballavamsisrinivas@gmail.com</span>
                      <p class="card-text">A Lead with 8 years of experience in Microsoft technologies and
                        frontend. I
                        code
                        with passion, love
                        to explore and do projects which give me knowledge and also sometimes for fun.</p>
                      <a href="https://github.com/ballavamsi" class="btn btn-primary" target="_blank"> Github</a>
                      <a href="http://www.ballavamsi.com" class="btn btn-primary" target="_blank"> Personal
                        Website</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 pt-3">
              <div class="card" style="width:100%;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-auto">
                      <div class="icon icon icon-xl rounded-circle shadow">
                        <img class="card-img-top"
                          src="https://scontent.fhyd11-1.fna.fbcdn.net/v/t1.0-1/s200x200/92301994_10222330086430134_5970173780331331584_o.jpg?_nc_cat=105&_nc_sid=7206a8&_nc_ohc=B2nO8WRPdHgAX-g4kC1&_nc_ht=scontent.fhyd11-1.fna&_nc_tp=7&oh=96c2f7e8ac036151bc5d4b18bf296d54&oe=5F60FCF5"
                          alt="Photo of L.N.Sreekanth">
                      </div>
                    </div>
                    <div class="col text-muted">
                      <h5 class="card-title text-uppercase">Sreekanth Lanka</h5>
                      <b class="d-block">Full Stack Developer</b>
                      <span class="d-block badge badge-pill badge-primary" (click)="onClickCopy('jonny.sree@gmail.com')">jonny.sree@gmail.com</span>
                      <p class="card-text">Developer with 3 years of experience in Microsoft technologies and
                        frontend.
                        Always keen to learn
                        new languages to expand my skills and become a badass programmer someday.</p> <a
                        href="https://github.com/SreekanthLanka" class="btn btn-primary" target="_blank">
                        Github</a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
  </div>
</div>

<!-- <mat-card class="gridMatCard" style="display: none;">
  <mat-card-header>
    <div mat-card-avatar class="header-image"
      style="background-image: url('https://avatars0.githubusercontent.com/u/63758252?s=460&v=4');"></div>
    <mat-card-title>G. Chakradhar Reddy</mat-card-title>
    <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lead with 8 years of experience in Microsoft and front end stack.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onClickCopy('chakradhar511@gmail.com')">chakradhar511@gmail.com</button>
  </mat-card-actions>
</mat-card> -->
