.header-image {
  background-image: url("https://avatars0.githubusercontent.com/u/18742947?s=460&u=e51dbaefd237df2aef45d1e4084ce759b5f777ad&v=4");
  background-size: cover;
}

.shape-color-orangered{
  background: linear-gradient(150deg, #11cdef 15%,#f5365c 94%) !important;
}


.mat-snack-bar-container .error-snackbar {
  background-color: red!important;
  color:white!important;
  .mat-button-wrapper{
    color:black!important;
  }
}
