<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <form [formGroup]="fg" (ngSubmit)="onSubmit()">
        <div class="row d-none"  [ngClass]="{'d-block':step==0}">
          <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">NEW SURVEY</h3>
                  </div>
                  <div class="col-4 text-right">
                    <a href="#!" class="btn btn-sm btn-primary d-none">Settings</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h6 class="heading-small text-muted mb-4">Welcome page details</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-welcome-message">Title<span
                            class="pl-1 text-warning">*</span></label>
                        <input type="text" id="input-welcome-message" required
                          class="form-control form-control-alternative" placeholder="Welcome to {your} survey"
                          formControlName="welcomeMessage">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-welcome-description">Description</label>
                        <textarea type="text" id="input-welcome-description"
                          class="form-control form-control-alternative" placeholder="Explain about the survey"
                          formControlName="welcomeDescription"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-welcome-description"></label>
                        <app-file-upload text="Upload welcome logo" (complete)="onFileComplete('welcomeImage',$event)">
                        </app-file-upload>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Thanking page details</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-thanking-message">Message<span
                            class="pl-1 text-warning">*</span></label>
                        <input type="text" id="input-thanking-message" required
                          class="form-control form-control-alternative" placeholder="Thank {user} for his time"
                          formControlName="endMessage">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Extra Features</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="custom-control custom-checkbox mb-3">
                          <input id="askEmailcheckbox" name="controlTypeaskEmail" class="custom-control-input"
                            name="askEmail" formControlName="askEmail" type="checkbox">
                          <label for="askEmailcheckbox" class="custom-control-label">Request user email adderess</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                          <input id="emailIdRequiredcheckbox" name="controlTypeaskEmail" class="custom-control-input"
                            name="emailIdRequired" formControlName="emailIdRequired" type="checkbox" (change)="onEmailMandatoryChange()">
                          <label for="emailIdRequiredcheckbox" class="custom-control-label">Make email mandatory</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                          <input id="enablePreviouscheckbox" name="controlTypeaskEmail" class="custom-control-input"
                            name="enablePrevious" formControlName="enablePrevious" type="checkbox">
                          <label for="enablePreviouscheckbox" class="custom-control-label">Allow user to navigate to
                            previous question</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="onClickNext()">
                  <span class="btn-inner--text">Next</span>
                  <!-- <span class="btn-inner--icon"><i class="ni ni-curved-next"></i></span> -->
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-none" [ngClass]="{'d-block':step==1}">
          <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">NEW SURVEY (QUESTIONS)</h3>
                  </div>
                  <div class="col-4 text-right">
                    <a href="#!" class="btn btn-sm btn-primary d-none">Settings</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div formArrayName="questions" class="pb-5" *ngFor="let eachQuestion of questions?.controls;let i=index"
                  class="row container-fluid">
                  <app-question class="w-100" [questionForm]="eachQuestion"
                    (questionAdditionalInfo)="addQuestionOptions($event,i)" [formGroupName]="i" [idx]="i"
                    (idxToRemove)="removeQuestion($event)" (IsSaved)="IsSavedCheck($event,i);"></app-question>
                </div>
                <div class="row justify-content-md-center">
                  <button class="btn mt-3 btn-icon btn-3 btn-primary" type="button" *ngIf="displayAddQuestion"
                    (click)="addNewQuestion()">Add New Question</button>
                </div>

                <div class="row">
                  <button class="btn mt-3 btn-icon btn-3 btn-outline-primary" type="button" (click)="onClickBack()">
                    <span class="btn-inner--text">Back</span>
                  </button>
                  <button class="btn mt-3 btn-icon btn-3 btn-primary" type="submit"
                    [disabled]="fg.invalid || additionalValidations() != ''">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
